---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Splitreveal from "../../components/playground/splitreveal.astro";
import RingofText from "../../components/playground/ringoftext.astro";
---
<BaseLayout pageTitle="Playground">
  <h1>Playground</h1>

  <section class="overview">
    
    <Splitreveal />
    <RingofText />

  </section>
</BaseLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    max-width: 65rem;
  }

  h2 div {
    border: 1px solid red;
  }
</style>
