<section><h1>Lisa van der Hoorn</h1></section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 65vh;
    height: 100%;
  }
</style>