/* /* @import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

:root {
  --body-font: "Geist", sans-serif;
  --heading-font: "Grand Bageur", sans-serif;
  --heading-font: "Tinos", serif;

  --white: #fcfaf8;
  --black: #101010;
  --dark: #303030;
  --off-white: #f1efee;

  --bg: #fcfaf8;
  --text: #101010;

  --primary: hsl(192deg 60% 62%);
  --secondary: hsl(27deg 75% 72%);
  --tertiary: #baa6cb;
}

@supports (color: hsl(from white h s l)) {
  :root {
    /* accents using relative color syntax */
    --primary-light: hsl(from var(--primary) h s 90%);
    --primary-dark: hsl(from var(--primary) h s calc(l - 20%));
    --secondary-light: hsl(from var(--secondary) h s 92%);
    --secondary-dark: hsl(from var(--secondary) h s 30%);
    --tertiary-light: hsl(from var(--tertiary) h s calc(l + 20%));
    --tertiary-dark: hsl(from var(--tertiary) h s calc(l - 20%));
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transition: 0.25s ease-in-out;
}

body {
  font-family: var(--body-font);
  background-color: var(--bg);
  color: var(--text);

  background-image: url("/public/assets/svg/bg.svg");
  background-position: center;
}

main {
  height: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.25;
}

h1 {
  font-size: 5.61rem;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}

h4 {
  font-size: 2.369rem;
}

@media (width <= 425px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }
}

p {
  font-weight: 400;
  max-width: 55ch;
  font-size: 1.15rem;
  font-weight: lighter;
}

a {
  color: var(--black);
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
}

button {
  font-size: 1rem;
  color: var(--black);
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2px;
  text-transform: lowercase;
  box-shadow: 0 0 1px 0px var(--dark);

  background: linear-gradient(
    99deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--secondary) 50%
  );
  background-size: 220%;
  background-position: right;
  transition: 0.3s ease-out;
}

button:hover {
  color: var(--dark);
  background-position: left;
  box-shadow: 0 0 1px 0px var(--bg);
}

button:active {
  scale: 0.98;
}

li::marker {
  font-size: 0.75rem;
}

code {
  display: inline-block;
  font-size: 1rem;
  color: var(--secondary-dark);
  background-color: var(--secondary-light);
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  box-shadow: 0 0 2px var(--secondary);
}

pre {
  width: fit-content;
  min-width: 50vw;
  padding: 1rem;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  box-shadow: none;
}

blockquote {
  font-size: 1.4em;
  font-style: italic;
  color: var(--dark);
  width: 60%;
  padding: 2rem 4rem;
  border-left: 8px solid var(--secondary);
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  content: "\201C";
  color: var(--secondary);
  font-size: 4rem;
  position: absolute;
  left: .5rem;
  top: -.75rem;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: var(--dark);
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

/* classes */
.divider {
  height: 1.5px;
  width: 100%;
  background-color: var(--secondary);
  margin: 1rem 0;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.heading-font {
  font-family: var(--heading-font);
}

a.back-home {
  display: block;
  box-shadow: 0 0 0px 2px var(--secondary);
  background-color: var(--white);
  border: 2px solid var(--white);
  text-decoration: none;
  color: var(--dark);
  width: fit-content;
  padding: 0.5rem;
  text-align: center;
  border-radius: 2px;
  opacity: 0.85;
}

a.back-home:hover {
  background-color: var(--secondary);
  opacity: 1;
}

a.back-home:active {
  scale: 0.98;
}

.section_full-width {
  padding: 1.5rem;
  width: 100vw;
  max-width: 75rem;
}

.markdown-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100vw;
  max-width: 75rem;
}

.simple-button {
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 1px 0px var(--secondary);

  background-size: 220%;
  background-position: right top;
  transition: 0.25s ease-out;
}

.simple-button:hover {
  color: var(--dark);
  background-position: left bottom;
  box-shadow: 0 0 1px 0px var(--secondary);
}

.simple-button:active {
  scale: 0.98;
}

/* color classes */
.variation-one {
  --primary: #6ba57c;
  --secondary: #f194b6;
}

.variation-two {
  --primary: #a730e7;
  --secondary: #ef7685;
}

.varitation-three {
  --primary: #af5aeb;
  --secondary: #f4868b;
}

.variation-four {
  --primary: #2c7f5d;
  --secondary: #f08f8f;
}

.variation-five {
  --primary: #296de7;
  --secondary: #f0bb78;
}

/* animations */

@supports (animation-timeline: view()) {
  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  .section_full-width {
    animation: animate-in linear forwards, animate-out linear forwards;
    animation-timeline: view();
    animation-range: entry, exit;
  }
}
