---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout pageTitle="About Me - Lisa van der Hoorn">
  <section class="section_full-width">
    <h1>Hi! I'm <span>Lisa</span></h1>

    <p>
      I'm Lisa, an aspiring frontend developer passionate about creating
      intuitive and visually appealing web experiences. I'm currently working on
      getting my <a href="https://fdnd.nl/">Frontend Development & Design</a> degree,
      at the Amsterdam University of Applied Sciences.
    </p>

    <div class="divider"></div>

    <p>
      During my education I learned all about the fundamentals of the web; HTML,
      CSS, JS, frameworks, but also accessibility, performance, responsiveness,
      progressove enhancement, and the importance of this all.
    </p>

    <p>
      At FDND we had regular guest speakers, who came to tell us about their
      work, passions, and experiences. One talk was about the importance of
      accessibility, by Ischa Gast. I remember one quote very clearly:
    </p>

    <blockquote>Accessibility is love for others</blockquote>

    <p>
      This really shaped the way I think of accessibility. You do it out of love
      for others, not because it is a requirement or an extra.
    </p>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>
