---

---

<section class="about section_full-width">
  <h2>About Me</h2>
  <div class="wrapper">
    <p>
      Hi! I’m Lisa, an aspiring frontend developer passionate about creating
      intuitive and visually appealing web experiences.
    </p>
    <p>
      With a strong foundation in HTML, CSS, and JavaScript, I’ve built dynamic
      websites using Node.js, Express, and EJS, while also exploring modern
      frameworks like SvelteKit and Astro.
    </p>
    <p>
      I love crafting accessible, high-performance websites and enjoy diving
      into creative coding from time to time!
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  h2 {
    justify-self: center;
    min-width: fit-content;
    width: 30vw;
  }
</style>
