---
import RandomClass from "./input/randomClass.astro"
---

<footer>
<div class="socials">
    <h2>Find me here:</h2>
    <ul>
      <li><a href="https://github.com/lisagjh">GitHub</a></li>
      <li><a href="https://bsky.app/profile/lisah.dev">BlueSky</a></li>
      <li></li>
    </ul>
  
</div>
  <RandomClass />
</footer>

<style>
  footer {
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2rem;
    margin-top: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  li {
    list-style: "";
  }

  h2,
  a {
    color: var(--white);
  }
</style>
