---
import RandomClass from "./input/randomClass.astro";
---

<footer>
  <div class="socials">
    <h4>Find me here:</h4>
    <ul>
      <li><a href="https://github.com/lisagjh">GitHub</a></li>
      <li><a href="https://bsky.app/profile/lisah.dev">BlueSky</a></li>
      <li></li>
    </ul>
  </div>
  <div class="other">
    <a href="/sitemap-0.xml" class="sitemap-link">Sitemap</a>

    <RandomClass />

  </div>

</footer>

<style>
  footer {
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem;
    margin-top: 4rem;
  }

  .socials {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--secondary);
    padding: 0.5rem 1rem;
    gap: 1rem;
  }

  .other {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    gap: 1rem;
  }

  h4 {
    color: var(--white);
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  li {
    list-style: "";
  }

  h2,
  a {
    color: var(--white);
  }
</style>
