<header>
    <a href="/">back home</a>
</header>

<style>
    a {
        display: block;
        background-color: var(--accent-one);
        color: var(--primary-one);
        width: 100vw;
        padding: .5rem;
    }

    a:hover {
        background-color: var(--primary-two);
    }
</style>