---
import { getCollection } from "astro:content";

const allPosts = await getCollection("projects");
---

<section class="section_full-width">
  <h2>Work</h2>
  <p>Check out some of my projects!</p>
  <p>
    The ones currently being displayed are school projects from my last year,
    one being the original and two I worked on during creative spikes.
  </p>
  <ul class="wrapper">
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>
            <img src={post.data.image.url} alt={post.data.image.alt} loading="lazy" />
            <h3>{post.data.title}</h3>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  ul {
    background-color: var(--primary-light);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: fit-content;
    box-shadow: 0 0 1px 0px var(--dark);
  }

  li {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 15rem;
    list-style: none;
    padding: 1.5rem 1rem;
    border-radius: 0.15rem;
    position: relative;
    box-shadow: 0 0 1px 0px var(--dark);
  }

  li a {
    font-size: 1.5rem;
    color: currentColor;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    height: 10.2rem;
    width: 15.1rem;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.6;
  }
</style>
