@font-face {
  font-family: "Open Sauce Sans";
  src: url('/fonts/OpenSauceSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Perfectly Nineties";
  src: url('/fonts/perfectly-nineties-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Perfectly Nineties Bold";
  src: url('/fonts/perfectly-nineties-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed Black";
  src: url('/fonts/BarlowCondensed-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url('/fonts/BarlowCondensed-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('/fonts/PlusJakartaSans-VariableFont.woff2') format('woff2');
  font-display: swap;
}

html {
  --body-font: 'Plus Jakarta Sans', sans-serif;
  --heading-font: 'Barlow Condensed Bold', sans-serif;
  --heading-font-bold: 'Barlow Condensed Black', sans-serif;

  --bg: #F8F6F2;
  --bg-muted: #d7d2c8;
  --text: #111111;
  --text-muted: #555555;

  --accent: #FF6F61;

  @media (prefers-color-scheme: dark) {
    --bg: #1d1827;
    --bg-muted: #2f2348;
    --text: #e2e1de;
    --text-muted: #777577;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: var(--body-font);
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--text);
  text-box: trim-both cap alphabetic;
}

/* Preloader overlay */
.loader {
  position: fixed;
  inset: 0;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transform: translateY(0);
  will-change: transform;
}

.loader h1 {
  font-family: 'Fraunces', serif;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

/* Hero content */
.hero {
  opacity: 0;
  transform: translateY(60px);
}
