---
const currentPath = Astro.url.pathname;
---

<script>
  document.querySelectorAll("a").forEach((link) => {
    link.addEventListener("mouseover", () => {
      link.classList.add("hovered");
    });
  });
</script>

<header transition:name="header">
  <nav>
    <ul>
      <li>
        <a
          href="/"
          class={currentPath === "/" ? "active home" : "home"}
          aria-label="home"
        >
          <img
            src="/public/assets/svg/flower.svg"
            alt="flower icon"
            width="25"
          />
        </a>
      </li>
      <li>
        <a href="/work" class={currentPath.startsWith("/work") ? "active" : ""}
          >Work</a
        >
      </li>
      <li>
        <a href="/blog" class={currentPath.startsWith("/blog") ? "active" : ""}
          >Blog</a
        >
      </li>
    </ul>
  </nav>
</header>

<style scoped>
  header {
    position: sticky;
    top: 0;
    width: 104%;
    max-width: 67rem;
    padding: 1rem 2rem;
    z-index: 50;
    view-transition-name: header;
  }

  nav {
    display: flex;
    justify-self: center;
    width: 100%;
    border-radius: 2rem;

    background-color: var(--off-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    justify-content: center;
    box-shadow:
      0 4px 4px var(--secondary-shadow),
      0 2px 8px var(--secondary-shadow);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  li {
    list-style: "";
  }

  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0.5rem;
    transition: 0.25s ease-in-out;
    border-radius: 6px 6px 0 0;
    transition: 0.25s ease-in-out;
  }

  a:hover {
    background-color: var(--primary-lighter);
  }

  a.active {
    color: var(--primary);
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    z-index: 50;
  }

  a.active::before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    opacity: 1 !important;
    animation: none;
    view-transition-name: active-link;
  }

  a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-light);
    height: 100%;
    width: 100%;
    border-radius: 2px 2px 0 0;
    opacity: 50%;
    z-index: -1;
    view-transition-name: active-bg;
    transform-origin: bottom center;
    animation: active-bg 0.25s ease-in-out forwards;
  }

  @keyframes active-bg {
    from {
      scale: 0.7;
    }
    to {
      scale: 1;
    }
  }

  a::before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--primary);
    opacity: 0;
    transition: 0.25s ease-in-out;
  }

  a:hover:not(.active)::before {
    width: 100%;
    opacity: 1;
    animation: show-link 0.25s ease-in-out forwards;
  }

  a.hovered:not(:hover):not(.active)::before {
    animation: hide-link 0.15s ease-in-out forwards;
  }

  a.active::before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    height: 2px;
    width: 100% !important;
    background-color: var(--primary);
    opacity: 1 !important;
    animation: none !important;
  }

  @keyframes show-link {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }

  @keyframes hide-link {
    from {
      opacity: 1;
      width: 100%;
    }
    to {
      opacity: 0;
      width: 0%;
    }
  }
</style>
