<section class="intro">
  <h1 class="title">Lisa van der Hoorn</h1>

  <div class="wrapper">
    <p class="split">Frontend <span class="dev">Developer</span></p>
  </div>
</section>

<style>
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding: 8rem 2rem;
    width: 100%;
    max-width: 65rem;
    height: 75vh;
  }

  h1 {
    color: var(--primary);
    line-height: 1.1;
  }

  .wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    min-width: max-content;
  }

  svg {
    position: absolute;
    bottom: -1.75rem;
    left: -1.5rem;
    z-index: -1;
    width: 13rem;
  }
</style>

<script type="module">
  import { gsap } from "../../node_modules/gsap";
  import { SplitText } from "../../node_modules/gsap/SplitText";
  import { ScrambleTextPlugin } from "../../node_modules/gsap/ScrambleTextPlugin.js";
  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrambleTextPlugin);

  const wrapper = document.querySelector(".wrapper");

  const split = new SplitText(wrapper, {
    type: "words",
    linesClass: "split",
    mask: "span",
  });

  // Show the wrapper after a short delay
  setTimeout(() => {
    wrapper.classList.remove("js-hidden");
  }, 200);

  gsap.fromTo(
    split.words,
    {
      y: "50%",
      opacity: 0,
      rotate: () => Math.random() * 20 - 15,
    },
    {
      y: "0%",
      opacity: 1,
      duration: 0.25,
      delay: 0.95,
      rotate: 0,
      stagger: {
        each: 0.05,
      },
    }
  );

  const dev = document.querySelector(".dev");

  const original = "Developer";
  const replacement = "Nerd";

  let timer;

  wrapper.addEventListener("mouseenter", () => {
    if (timer) clearTimeout(timer);
    timer = setTimeout(() => {
      gsap.to(dev, {
        scrambleText: {
          text: replacement,
          chars: "qwertyuioasdfghjklzxcvbnm",
          speed: 0.5,
        },
        duration: 0.65,
        ease: "power2.inOut",
      });
    }, 250);
  });

  wrapper.addEventListener("mouseleave", () => {
    if (timer) clearTimeout(timer);
    timer = setTimeout(() => {
      gsap.to(dev, {
        scrambleText: {
          text: original,
          chars: "qwertyuioasdfghjklzxcvbnm",
          speed: 0.5,
        },
        duration: 0.65,
        ease: "power2.inOut",
      });
    }, 250);
  });

  const title = document.querySelector(".title");

  const titleSplit = new SplitText(title, {
    type: "words",
    linesClass: "split",
    mask: "span",
  });

  gsap.fromTo(
    titleSplit.words,
    {
      y: "200%",
      opacity: 0,
    },
    {
      y: "0%",
      opacity: 1,
      duration: 0.25,
      delay: 0.15,
      rotate: 0,
      ease: "power2.inOut",
      stagger: {
        each: 0.005,
      },
    }
  );
</script>
