<script type="module">
  import { gsap } from "/gsap";
  import { ScrollTrigger } from "/gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  import { SplitText } from "/gsap/all";
  gsap.registerPlugin(SplitText);
  import { ScrambleTextPlugin } from "/gsap/all";
  gsap.registerPlugin(ScrambleTextPlugin);

  if (gsap) {
    console.log("gsap loaded", gsap.version);
  } else if (!gsap) {
    console.log("could not load gsap");
  }

  gsap.fromTo(
    "h1",
    { opacity: 0, y: 30 },
    { opacity: 1, y: 0, duration: 0.8, delay: 0.2 }
  );
</script>

<section class="intro">
  <h1 class="title">Lisa van der Hoorn</h1>

  <div class="wrapper js-hidden">
    <p class="split">Frontend <span class="dev">Developer</span></p>
  </div>
</section>

<style>
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 8rem 2rem;
    width: 100%;
    max-width: 65rem;
    height: 75vh;
  }

  h1 {
    color: var(--primary);
    line-height: 1;
    display: block;
    overflow: visible;
  }

  .wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    min-width: max-content;
  }

  .js-hidden {
    opacity: 0;
  }

  svg {
    position: absolute;
    bottom: -1.75rem;
    left: -1.5rem;
    z-index: -1;
    width: 13rem;
  }
</style>
