---

---

<section class="intro">
  <h1>Lisa van der Hoorn</h1>

  <div class="wrapper is-hidden">
    <p class="split">Frontend <span class="dev">Developer</span></p>
  </div>
</section>

<style>
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding: 8rem 2rem;
    width: 100%;
    max-width: 65rem;
    height: 75vh;
  }

  h1 {
    color: var(--primary);
    line-height: 1.1;
  }

  .wrapper {
    position: relative;
    height: fit-content;
  }

  svg {
    position: absolute;
    bottom: -1.75rem;
    left: -1.5rem;
    z-index: -1;
    width: 13rem;
  }

  .wrapper.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
</style>

<script type="module">
  import { gsap } from "../../node_modules/gsap";
  import { SplitText } from "../../node_modules/gsap/SplitText";
  import { ScrambleTextPlugin } from "../../node_modules/gsap/ScrambleTextPlugin.js";
  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrambleTextPlugin);

  const wrapper = document.querySelector(".wrapper");
  const split = new SplitText(wrapper, {
    type: "chars",
    linesClass: "split",
    mask: "span",
  });

  setTimeout(() => {
    wrapper.classList.remove("is-hidden");
  }, 200);

  gsap.fromTo(
    split.chars,
    {
      y: "50%",
      opacity: 0,
      rotate: () => Math.random() * 20 - 10,
    },
    {
      y: "0%",
      opacity: 1,
      duration: 0.25,
      delay: 0.35,
      rotate: 0,
      stagger: {
        each: 0.005,
      },
    }
  );

  const dev = document.querySelector(".dev"); // voeg dit toe boven je listeners
  const devSplit = new SplitText(document.querySelector(".dev"), {
    type: "chars",
    linesClass: "split",
    mask: "span",
  });

  const original = "Developer";
  const replacement = "Nerd";

  // Hover in → naar “Nerd” met glitch
  wrapper.addEventListener("mouseenter", () => {
    gsap.to(dev, {
      scrambleText: {
        text: replacement,
        chars: "qwertyuioasdfghjklzxcvbnm",
        speed: 0.5,
      },
      duration: 0.65,
      ease: "power2.inOut",
    });
  });

  // Hover uit → terug naar “Developer” met glitch
  wrapper.addEventListener("mouseleave", () => {
    gsap.to(dev, {
      scrambleText: {
        text: original,
        chars: "qwertyuioasdfghjklzxcvbnm",
        speed: 0.5,
      },
      duration: 0.65,
      ease: "power2.inOut",
    });
  });
</script>
