:root {
	--bg: #fdfdfd;
	--text: #222222;
	--text-light: #717182;
	--border-color: #0000001a;

	--primary: oklch(0.546 0.245 262.881);
	--secondary: oklch(0.627 0.194 149.214);
	--tertiary: oklch(0.681 0.162 75.834);
	--warning: oklch(55.263% 0.15793 28.415);
	--warning-bg: oklch(70.589% 0.16312 26.847 / 0.1);
	--warning-border: oklch(70.589% 0.16312 26.847 / 0.3);
	--error: oklch(0.627 0.194 25.214);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #242424;
		--color-text: #f0f0f0;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.15s ease-in-out;
}

@view-transition {
	navigation: auto;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	line-height: 1.5;
	background-color: var(--bg);
	color: var(--text);
}

main {
	padding: 2.5%;
	max-width: 70rem;
	margin: 0 auto;

	@media screen and (width >= 600px) {
		padding: 5%;
	}
}

a {
	color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	@keyframes slide-from-right {
		from {
			transform: translateX(2rem);
		}
	}

	@keyframes slide-to-left {
		to {
			transform: translateX(-2rem);
		}
	}

	:root::view-transition-old(root) {
		animation:
			0.5s cubic-bezier(0.4, 0, 1, 1) both fade-out,
			0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}

	:root::view-transition-new(root) {
		animation:
			0.5s cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
}
