@font-face {
	font-family: "Open Sans";
	src: url(/static/fonts/OpenSans.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Italic";
	src: url(/static/fonts/OpenSans-Italic.woff2) format("woff2");
	font-display: swap;
	font-style: italic;
}



* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: .25s ease-in-out;
}

body, main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header, main, footer {
	max-width: 60rem;
	padding: 1rem;
	margin: 0 auto;
}