---
import { ClientRouter } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "/src/styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Lisa van der Hoorn is a frontend developer, focused on creating accessible and visually appealing websites."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SpeedInsights />
    <Analytics />
    <ClientRouter />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
