---
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/display/Header.astro";
import Footer from "../components/display/Footer.astro";
import RevealPage from "../components/display/RevealPage.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Lisa van der Hoorn is an aspiring frontend developer, focused on creating accessible websites. Lisa has experience with modern frontend technologies, and fundamental knowledge of UI/UX design."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
    <Analytics />
    <SpeedInsights />
  </head>
  <body transition:animate="fade">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
