---
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/display/Header.astro";
import Footer from "../components/display/Footer.astro";

import { fade, slide } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<script>
  let savedY = 0;

  if ("scrollRestoration" in history) {
    history.scrollRestoration = "manual";
  }

  // Opslaan bij navigatie
  document.addEventListener("astro:before-swap", () => {
    savedY = window.scrollY;
    sessionStorage.setItem("scrollPos", savedY);
  });

  // Herstel scrollpositie zónder flits, alleen bij terug
  document.addEventListener("astro:after-swap", () => {
    const navType = performance.getEntriesByType("navigation")[0]?.type;
    if (navType === "back_forward") {
      const y = sessionStorage.getItem("scrollPos");
      if (y) {
        window.scrollTo({ top: Number(y), left: 0});
      }
    }
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Lisa van der Hoorn is an aspiring frontend developer, focused on creating accessible websites. Lisa has experience with modern frontend technologies, and fundamental knowledge of UI/UX design."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script type="module">
  import { gsap } from "../../node_modules/gsap";
  import { SplitText } from "../../node_modules/gsap/SplitText";

  gsap.registerPlugin(SplitText);
</script>
